<%# app/views/layouts/unauthenticated.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <title>WhatsappClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind" , "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-50">
    <main class="flex min-h-screen flex-col items-center justify-center">
      <%= yield %>
    </main>
  </body>
</html>
